{% load static %}
{% load aduna_extras %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'aduna/fontawesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'aduna/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'aduna/jquery-ui/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'aduna/style.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Áduna</title>
    </head>
    <body class="view-as-page">
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow p-3">
                <div class="container">
                    <a href="javascript:history.back()" class="btn btn-danger my-2 my-sm-0" type="button"><i class="fas fa-arrow-alt-circle-left"></i> Voltar</a>
                    <a class="navbar-brand" href="{% url 'aduna:index' %}" style="margin-left: 50px">Áduna</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <form action="{% url 'aduna:search' %}" method="GET" class="form-inline mt-2 mt-md-0">
                            <input id="query" name="query" class="form-control mr-sm-2" type="text" placeholder="Sua consulta aqui..." aria-label="Consulta" value="{{ query }}" oninvalid="setCustomValidity('Insira uma consulta válida.')" oninput="setCustomValidity('')"  required>
                            <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
                            <input type="hidden" name="sid" id="sid" value="{{ sid }}">
                        </form>
                    </div>

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                                {{ user_name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown07">
                                <a class="dropdown-item" href="/aduna/logout"><i class="fas fa-sign-out-alt"></i> Sair</a>
                            </div>
                        </li>
                    </ul>


                </div>
            </nav>
        </header>


        <div class="container">
            <div class="page">
                <h2>{{ document.title }}</h2>

                <p>{{ document.conteudo|safe }}</p>
            </div>
        </div>

        <script>
            SERVICES_URL = '{{ services_url }}';
            QID = '{{ qid }}';
            PAGE = '{{ page }}';
        </script>
        <script src="{% static 'aduna/jquery-3.4.1.min.js' %}" ></script>
        <script src="{% static 'aduna/popper.min.js' %}"></script>
        <script src="{% static 'aduna/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'aduna/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'aduna/script.js' %}"></script>
    </body>
</html>