{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static 'aduna/bootstrap/css/bootstrap.min.css' %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'aduna/jquery-ui/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'aduna/style.css' %}">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>Áduna</title>
    </head>
    <body>
        <div class="vertical-center">
            <div class="container">
                <h1 class="aduna-title">Áduna</h1>
                <form action="{% url 'aduna:search' %}" method="GET" class="form">
                    <div class="row justify-content-md-center">
                        <div class="col-md-8">
                            <div class="input-group">
                                <input type="text" class="form-control shadow p-3 mb-5 bg-white rounded" name="query" id="query" placeholder="Sua consulta aqui..." autocomplete="off" oninvalid="setCustomValidity('Insira uma consulta válida.')" oninput="setCustomValidity('')" required autofocus>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary shadow mb-5 rounded">Pesquisar</button>
                                </span>
                                <input type="hidden" name="sid" id="sid" value="{{ sid }}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script>
            SERVICES_URL = "{{ services_url }}"
        </script>
        <script src="{% static 'aduna/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'aduna/popper.min.js' %}"></script>
        <script src="{% static 'aduna/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'aduna/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'aduna/script.js' %}"></script>
    </body>
</html>