{% load static %}
{% load aduna_extras %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'aduna/fontawesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'aduna/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'aduna/jquery-ui/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'aduna/style.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Áduna</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'aduna:index' %}">Áduna</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <form action="{% url 'aduna:search' %}" method="GET" class="form-inline mt-2 mt-md-0">
                            <input id="query" name="query" class="form-control mr-sm-2" type="text" placeholder="Sua consulta aqui..." aria-label="Consulta" value="{{ query }}" oninvalid="setCustomValidity('Insira uma consulta válida.')" oninput="setCustomValidity('')"  required>
                            <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
                            <input type="hidden" name="sid" id="sid" value="{{ sid }}">
                        </form>
                    </div>

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                                {{ user_name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown07">
                                <a class="dropdown-item" href="/aduna/logout"><i class="fas fa-sign-out-alt"></i> Sair</a>
                            </div>
                        </li>
                    </ul>


                </div>
            </nav>
        </header>

        <main role="main">
            <div class="container">
                <div class="total-docs">A pesquisa retornou {{ total_docs }} documentos.</div>
                <div id="results-container" data-executed-query="{{ query }}">
                {% for doc in documents %}
                    <div class="result-item">
                        <h3><a class="result-link" href="{% url 'aduna:document' doc.type doc.id %}" data-rank-number="{{ doc.rank_number }}" data-item-id="{{ doc.id }}" data-item-type="{{ doc.type }}" >{{ doc.title }}</a></h3>
                        <div class="result-description">
                            {{ doc.description|safe }}
                        </div>
                        <div class="source-description">
                            Fonte: {{ doc.source }}
                        </div>
                    </div>
                {% endfor %}
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                    {% if page == 1 %}
                        <li class="page-item disabled">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                        <a class="page-link" href="{% url 'aduna:search' %}?query={{ query }}&page={{ page|add:'-1' }}&sid={{ sid }}&qid={{ qid }}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    {% for _ in results_pagination_bar %}
                        {% if page < 6  %}
                            {% if forloop.counter == page %}
                            <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true">{{ forloop.counter }}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="{% url 'aduna:search' %}?query={{ query }}&page={{ forloop.counter }}&sid={{ sid }}&qid={{ qid }}">{{ forloop.counter }}</a></li>
                            {% endif %}
                        {% elif page > total_pages|add:'-5'%}
                            {% if total_pages|add:forloop.counter|subtract:results_pagination_bar == page %}
                            <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true">{{ page }}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="{% url 'aduna:search' %}?query={{ query }}&page={{ total_pages|add:forloop.counter|subtract:results_pagination_bar }}&sid={{ sid }}&qid={{ qid }}">{{ total_pages|add:forloop.counter|subtract:results_pagination_bar }}</a></li>
                            {% endif %}
                        {% else %} 
                            {% if forloop.counter == 5 %}
                            <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true">{{ page }}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="{% url 'aduna:search' %}?query={{ query }}&page={{ page|add:forloop.counter|add:'-5' }}&sid={{ sid }}&qid={{ qid }}">{{ page|add:forloop.counter|add:'-5' }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if page == total_pages %}
                        <li class="page-item disabled">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                        <a class="page-link" href="{% url 'aduna:search' %}?query={{ query }}&page={{ page|add:'1' }}&sid={{ sid }}&qid={{ qid }}">Next</a>
                    </li>
                    </ul>
                </nav>
            </div>
        </main>

        <script>
            SERVICES_URL = '{{ services_url }}';
            QID = '{{ qid }}';
            PAGE = '{{ page }}';
        </script>
        <script src="{% static 'aduna/jquery-3.4.1.min.js' %}" ></script>
        <script src="{% static 'aduna/popper.min.js' %}"></script>
        <script src="{% static 'aduna/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'aduna/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'aduna/script.js' %}"></script>
    </body>
</html>