{% extends "./base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}

<div class="content-wrapper">
    <div class="row page-title-header">
        <div class="col-12">
            <div class="page-header">
                <h4 class="page-title">Configurações de Busca</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Configurações Gerais</h4>
                    
                    <form method="POST">
                        {% csrf_token %}
                        {{ form_search_configs.as_p }}
                        <div class="row justify-content-end">
                            <div class="pr-3">
                                <button class="btn btn-primary" type="submit">Salvar</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Campos de busca</h4>
                    <table class="table table-striped table-bordered table-sm">  
                        <thead class="thead-dark">  
                        <tr>  
                            <th>Descrição</th>  
                            <th>Campo</th>  
                            <th>Peso</th>  
                            <th>Buscavel</th>  
                            <th>Editar</th>  
                        </tr>  
                        </thead>  
                        <tbody>  
                    {% for campo in weighted_search_fields %}  
                        <tr>  
                            <td>{{ campo.field_name }}</td>  
                            <td>{{ campo.field }}</td>  
                            <td>{{ campo.weight }}</td>  
                            <td>{{ campo.searchable }}</td>  
                            <td>  
                                <a href="/admin/update_weighted_search_field/{{ campo.field }}"><span class="glyphicon glyphicon-pencil" >Editar</span></a>  
                                
                            </td>  
                        </tr>  
                    {% endfor %}  
                        </tbody>  
                    </table>  
                    <br>  
                    <br>  
                    <center><a href="/admin/add_weighted_search_field" class="btn btn-primary">Adicionar Campo</a></center>  


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Indices</h4>
                    <table class="table table-striped table-bordered table-sm">  
                        <thead class="thead-dark">  
                        <tr>  
                            <th>Índice</th>  
                            <th>Model</th>  
                            <th>Buscavel</th>
                            <th>Conjunto</th>  
                            <th>Editar</th>  
                        </tr>  
                        </thead>  
                        <tbody>  
                    {% for index in searchable_indices %}  
                        <tr>  
                            <td>{{ index.index }}</td>  
                            <td>{{ index.index_model }}</td>  
                            <td>{{ index.searchable }}</td>  
                            <td>{{ index.group }}</td>  
                            <td>  
                                <a href="/admin/update_searchable_indice/{{ index.index }}"><span class="glyphicon glyphicon-pencil" >Editar</span></a>  
                                
                            </td>  
                        </tr>  
                    {% endfor %}  
                        </tbody>  
                    </table>  
                    <br>  
                    <br>  
                    <center><a href="/admin/add_searchable_indice" class="btn btn-primary">Adicionar Índice</a></center>  


                </div>
            </div>
        </div>
    </div>

</div>



{% endblock%}