{% extends "./base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="row justify-content-end">
                            <div class="pr-3">
                                <button class="btn btn-primary" type="submit">Salvar</button>
                                <a class="btn btn-primary" href="/admin/destroy_weighted_search_field/{{ weighted_search_field.field }}">Deletar</a>  
                            </div>
                        </div>
                    </form>
                    
                    <!-- <form method="POST" class="post-form" action="/admin/update_weighted_search_field/{{weighted_search_field.field}}">  
                        {% csrf_token %}  
                        <div class="container">  
                            <br>  
                            <div class="form-group row">  
                                <label class="col-sm-1 col-form-label"></label>  
                                <div class="col-sm-4">  
                                    <h3>Editando campo: {{weighted_search_field.field}}</h3>  
                                </div>  
                            </div>  
                            
                            <div class="form-group row">  
                                <label class="col-sm-2 col-form-label">Descrição:</label>  
                                <div class="col-sm-4">  
                                    {{weighted_search_field.field_name}}
                                </div>  
                            </div>  
                            
                            <div class="form-group row">  
                                <label class="col-sm-2 col-form-label">Campo:</label>  
                                <div class="col-sm-4">  
                                    {{weighted_search_field.field}}
                                </div>  
                            
                            </div>                              

                            <div class="form-group row">  
                                <label class="col-sm-2 col-form-label">Peso:</label>  
                                <div class="col-sm-4">  
                                    <input type="number" min="1" name="weight" id="id_weight" value="{{ weighted_search_field.weight }}" />  
                                </div>  
                            </div>  
                            
                            <div class="form-group row">  
                                <label class="col-sm-2 col-form-label">Buscavel:</label>  
                                <input type="checkbox" name="searchble" id="id_searchble"  {% if weighted_search_field.searchable %} checked {% endif %}/>   
                            </div>  

                            <div class="form-group row">  
                                <label class="col-sm-1 col-form-label"></label>  
                                <div class="col-sm-4">  
                                <button type="submit" class="btn btn-success">Update</button>  
                                </div>  
                            </div>  
                        </div>  
                    </form>   -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}