# Folders to organize indexing data
indexer/original/
indexer/zips/
indexer/csvs/
indexer/teste/
indexer/.ipynb_checkpoints/

# indexation tests
indexer/playground.ipynb
indexer/Indexing.ipynb
indexer/treating.ipynb
indexer/testing_indexer.ipynb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
search_engine/db.sqlite3
search_engine/mpmg/settings.py
## Django-Jenkins reports
reports



# Virstual env
search_engine/env/

# Extensions
*.sqlite3
*.ipynb
*.xml